
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
  color: $ghostWhite;
  text-decoration: none;

  &:visited {
    color: $ghostWhite;
  }
}
.container {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-container {
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
}

.colourblocking {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 102, 153, 0.8);
}

footer {
  z-index: 10;
  position: absolute;
  bottom: 4%;
  left: 10%;
  color: $ghostWhite;
  font-family: $droid;
  font-size: 0.9em;

  a {
    border-bottom: 1px dashed $ghostWhite;
  }
}

.content {
    text-align: center;
    display: inline-block;
}
