
/* RGB */
$seaBlue: rgba(0, 102, 153, 1);
$midnightGreen: rgba(13, 70, 86, 1);
$ufoGreen: rgba(35, 206, 107, 1);
$charlestonGreen: rgba(39, 45, 45, 1);
$ghostWhite: rgba(246, 248, 255, 1);

.seaBlue       { color: $seaBlue; }
.midnightGreen { color: $midnightGreen; }
.ufoGreen      { color: $ufoGreen; }
.ghostWhite    { color: $ghostWhite; } 
