
body {
  margin: 0;
  font-family: "freight-sans-pro", arial, sans-serif;
  text-align: center;
  background: #f6f8ff;
  color: #272d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ubuntu-mono, monospace;
}

.main {
  margin: 0 auto;
  width: 90%
}

@media (min-width: 768px) {
  .main {
    width: 50%
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800
}

h1 {
  font-size: 2rem;
}


h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  font-weight: 400
}

a {
  color: #069
}

a:hover {
  color: #fff;
  background: #069
}

